.wp-block-simpletoc-toc {
  background: #f4f5f6;
  border: 1px solid #e2e2e2;
  padding: 0;
}

.wp-block-simpletoc-toc p.warning {
  color: darkred;
  padding: 1em;
}

.wp-block-simpletoc-toc .simpletoc-title {
  padding-left: 1em;
}
