name: Coding Standards
on:
  pull_request_target:
    branches:
      - master
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
jobs:
    tag:
        name: New tag
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@master
            - name: Build
              run: |
                  npm install @wordpress/scripts --save-dev
                  npm run lint-js
                  npm run lint-css
                  npm run build
